.jumbotron {

min-height: 400px;

background-image: url('bike.jpg');

background-size: cover;
}

.jumbotron h1 {
    font-family: 'Righteous', cursive;
    color: white;
    margin-bottom: 1em;
   }

.navbar-inverse {
  font-family: 'Righteous', cursive;
  background-color: rgba(32, 35, 41,0.8);
}

h2 {
	font-family: 'Droid Sans', sans-serif;
}
p {
	font-family: 'Droid Sans', sans-serif;
	padding-top: 10px;
}
.featurette-heading {
	margin-top: 120px;
	font-size: 50px;
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
.logo {
  height: 20%x;
  width: 20%;
}